@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme inline {
  /* Brand Colors */
  --color-primary: #167091;
  --color-primary-light: #309ec7;
  --color-primary-hover: #0d5470;

  /* Status Colors */
  --color-danger: #960b0b;
  --color-danger-hover: #7a0909;
  --color-success: #217663;
  --color-success-dark: #03562f;
  --color-success-hover: #0d3d26;

  /* Background Colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f1f5f9;
  --color-bg-tertiary: #e2e8f0;

  /* Border Colors */
  --color-border-light: #e2e8f0;
  --color-border-secondary: #cbd5e1;

  /* Text Colors */
  --color-text-primary: #ffff;
  --color-text-secondary: #475569;
  --color-text-tertiary: #94a3b8;

  /* Accent Colors */
  --color-accent-yellow: #e8c500;
}

:root {
  /* Light mode values */
  --bg-primary: #ffffff;
  --bg-secondary: #f1f5f9;
  --bg-tertiary: #e2e8f0;
  --border-light: #e2e8f0;
  --text-primary: #0f172a;
}

.dark {
  /* Dark mode overrides */
  --bg-primary: #020617;
  --bg-secondary: #1e293b;
  --bg-tertiary: #334155;
  --border-light: #1e293b;
  --text-primary: #f1f5f9;
}

/* Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}